.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  cursor: pointer;
}

.images-list {
  padding-top: 2rem;
}

.inner-image {
  display: block;
  padding-bottom: 2rem;
  max-height: 500px;
  max-width: 500px;
}

.image-size {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.list-details {
  list-style: none;
  font-size: small;
  padding-inline-start: 0;
}

.list-details li {
  display: inline;
  padding: .5rem;
}

